
@{
    ViewBag.Title = "Reports";
}

<h2>Bug Report Created</h2>

<strong>Bug Title</strong> : @ViewData["BugTitle"]
<br />
<strong>Severity</strong> : @ViewData["Severity"]
<br />
<strong>Program behaviour from bug</strong> : @ViewData["ProgramBehaviour"]
<br />
<strong>Reproduce bug behaviour by</strong> : @ViewData["ReproduceBehaviour"]
<br />