@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report a Bug</h1>
    <p><a href="~/Home/Report" class="btn btn-primary btn-lg">Start here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Your Projects</h2>
        <p>Check out progress of your projects.</p>
        <p><a class="btn btn-default" href="~/Home/Projects">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recent Bugs</h2>
        <p>Check out the latest reported bugs by your teammates.</p>
        <p><a class="btn btn-default" href="~/Home/Recents">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bug Status</h2>
        <p>
            Check out the status of your reported bugs.
        </p>
        <p><a class="btn btn-default" href="~/Home/Status">Click here &raquo;</a></p>
    </div>
</div>